{% extends "base.html" %}

{% block content %}
    <br>
    <p style="line-height:250%">This FlaskApp app demonstrates different use-cases:
      <br>
      <a href="/weatherui/" style="text-decoration:none;">Weather</a>: Get weather details for the given city, via api.openweathermap.org
      <br>
      <a href="/sampleformui/" style="text-decoration:none;">Sample Form</a>: Sample Form with multiple validations
      <br>
      <a href="/contactus/" style="text-decoration:none;">Contact Us</a>: Contact Page
      <br>
      <br>
      Further Documentation: <a href="https://github.com/vigindian/flask-app#readme" target="_blank" rel="noopener noreferrer" style="text-decoration:none;">FlaskApp Readme</a>
      <br>
    </p>
{% endblock %}
